*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-image: url(../images/banner/banner2.png);
    background-position: left;
    padding: 80px 460px;
}
/* banner styles */
.banner{
    text-align:right;   
}
.banner-title{
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bolder;
}
.banner-description{
   color: #757575;
   margin-bottom: 20px;
}
.btn-primary{
    color: aliceblue;
    background:#FD6E0A;
    border: 0;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
}
section{
    margin-top: 50px;
}
/* failure styles */
.failure{
    display: flex;
    align-items: center;
    padding: 50px 250px;  
    gap: 100px; 
}
.fail{
    
}
.failure-title{
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 15px;
    
    
}
.failure-description{
    color: #757575;
    margin-bottom: 15px;
}
/* plan styles */
.plan{
    text-align: center;
}
.plan-title{
    font-size: 28px;
    font-weight:bolder;
    margin-bottom: 30px;
}
.skills{
    display:flex;
    justify-content:center;
    gap: 100px;

}
.item-title{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
}
.item-description{
    color: #757575;
    margin-top: 10px;
}