*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-image: url(../images/banner/banner2.png);
    background-position: left;
    padding: 80px 460px;
}
/* banner styles */
.banner{
    text-align:right;   
}
.banner-title{
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bolder;
}
.banner-description{
   color: #757575;
   margin-bottom: 20px;
}
.btn-primary{
    color: aliceblue;
    background:#FD6E0A;
    border: 0;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
}
section{
    margin-top: 50px;
}
/* failure styles */
.failure{
    display: flex;
    align-items: center;
    padding: 50px 250px;  
    gap: 100px; 
}
i{
    color: rgba(0, 128, 0, 0.785);
}
.fail{
    
}
.failure-title{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 15px;
    
    
}
.failure-description{
    color: #757575;
    margin-bottom: 15px;
}
/* plan styles */
.plan{
    text-align: center;
}
.plan-title{
    font-size: 48px;
    font-weight:bolder;
    margin-bottom: 30px;
}
.skills{
    display:flex;
    justify-content:center;
    gap: 100px;

}
.item-title{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
}
.item-description{
    color: #757575;
    margin-top: 10px;
}
/* mindset styles */
.positive{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center ;
    padding: 38px 190px;
}
.mindset{
    background-image: url(../images/gradient2.png) ;
    background-position: left;
    padding: 85px 50px;
    text-align: left;
    margin:;
}
.positive-title{
    color: aliceblue;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}
.btn-secondary{
    color: #FD6E0A;
    background: aliceblue;
    border: 0;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
}
footer{
    margin-top: 150px;
}
.end{
    display: flex;
    background: black;
    padding: 100px 248px;
    gap: 200px;
}
img{
    padding-left: 15px;
}
.title{
    font-size: 48px;
    color: aliceblue;
    margin-bottom: 15px;
}
input{
    background: black;
    color: aliceblue;
    margin-bottom: 15px;
    border: 0 0 white;
    border-radius: 5px;
    padding: 18px 25px;
}
.description{
    color: #757575;
    margin-bottom: 15px;
}